---
import "../../styles/courseSectionStyles.css";

import LinkCard from "@components/LinkCard.astro";
import { getBasedUrl } from "@utils/paths";

import type { CoursesItems } from "@/types/Courses";

interface Props {
    items: CoursesItems;
}

const { items } = Astro.props;
---

<section class="course-section">
    <h2 class="course-section__title">Рубежный контроль</h2>
    <ul class="course-section__list">
        {
            items.map((item) => (
                <LinkCard
                    title={item.data.title}
                    href={getBasedUrl(`/labs/${item.id}`)}
                />
            ))
        }
    </ul>
</section>
