---
import LinkCard from "@components/LinkCard.astro";
import { getBasedUrl } from "@utils/paths";

import type { CoursesItems } from "@/types/Courses";

interface Props {
    items: CoursesItems;
}

const { items } = Astro.props;
---

<section
    class="max-w-screen px-5 md:px-15 xl:px-0 lg:max-w-screen-lg xl:max-w-screen-xl mx-auto mb-30"
>
    <h2 class="text-center text-text-inverted">Рубежный контроль</h2>
    <ul class="grid grid-cols-1 md:grid-cols-2 gap-5 w-full">
        {
            items.map((item) => (
                <LinkCard
                    title={item.data.title}
                    href={getBasedUrl(`/labs/${item.id}`)}
                />
            ))
        }
    </ul>
</section>
