---
import BaseLayoutSnow from "../../layouts/BaseLayoutSnow.astro";

import { getCollection } from "astro:content";
import ListOfPosts from "../../components/ListOfPosts.astro";
const allUsefull = await getCollection("useful");
---

<BaseLayoutSnow title="Полезное">
  <div class="prose lg:prose-lg mx-auto">
    <ListOfPosts allusefull={allUsefull} />
  </div>
</BaseLayoutSnow>
