---
import { getBasedUrl } from "@utils/paths";
const { path } = Astro.props;
---

<a
    href={path}
    class="flex gap-2 font-bold font-titles text-[20px] items-center mb-5"
    ><img
        src={getBasedUrl("/assets/img/chevron-right.svg")}
        class="mb-1"
        alt=""
    /><span>Назад</span></a
>
