---
---

<div class="block">
  <button
    type="button"
    id="back-to-top-btn"
    aria-label="Кнопка наверх"
    class="fixed bottom-5 right-5 hidden"
    tabindex="1"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="w-16 h-16 fill-secondary">
      <path
        fill-rule="evenodd"
        d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm.53 5.47a.75.75 0 00-1.06 0l-3 3a.75.75 0 101.06 1.06l1.72-1.72v5.69a.75.75 0 001.5 0v-5.69l1.72 1.72a.75.75 0 101.06-1.06l-3-3z"
        clip-rule="evenodd"></path>
    </svg>
  </button>
</div>

<script>
  if (document.contains(document.getElementById("back-to-top-btn"))) {
    const button = document.getElementById("back-to-top-btn");
    window.addEventListener("scroll", () => {
      if (window.scrollY > 200) {
        button.classList.add("block");
        button.classList.remove("hidden");
      } else {
        button.classList.add("hidden");
        button.classList.remove("block");
      }
    });

    button.addEventListener("click", () => {
      window.scrollTo({
        top: 0,
        behavior: "smooth",
      });
    });
  }
</script>
