---
---

<div class="block">
  <button
    id="back-to-top-btn"
    aria-label="Кнопка наверх"
    class="fixed bottom-5 right-5 hidden"
    tabindex="1"
    ><svg
      class="fill-secondary"
      xmlns="http://www.w3.org/2000/svg"
      height="48"
      viewBox="0 0 512 512"
      width="48"
      ><path
        d="M256,0C114.837,0,0,114.837,0,256s114.837,256,256,256s256-114.837,256-256S397.163,0,256,0z M377.749,313.749
      c-4.16,4.16-9.621,6.251-15.083,6.251c-5.462,0-10.923-2.091-15.083-6.251L256,222.165l-91.584,91.584
      c-8.341,8.341-21.824,8.341-30.165,0c-8.341-8.341-8.341-21.824,0-30.165l106.667-106.667c8.341-8.341,21.824-8.341,30.165,0
      L377.75,283.584C386.091,291.925,386.091,305.408,377.749,313.749z"
      ></path></svg
    ></button
  >
</div>
<script>
  const button = document.getElementById("back-to-top-btn");

  window.addEventListener("scroll", () => {
    if (window.scrollY > 200) {
      button.classList.add("block");
      button.classList.remove("hidden");
    } else {
      button.classList.add("hidden");
      button.classList.remove("block");
    }
  });

  button.addEventListener("click", () => {
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    });
  });
</script>
