---
const { url } = Astro.props;
const posts = await Astro.glob("../../pages/labs/*.md");
let urls;
function sortLabs(arr) {
  arr.sort(function (a, b) {
    var labA = parseInt(a.split("/")[a.split("/").length - 1].slice(4));
    var labB = parseInt(b.split("/")[b.split("/").length - 1].slice(4));
    return labA - labB;
  });
  return arr;
}
urls = sortLabs(posts.map((lab) => lab.url));

const urlindex = urls.indexOf(url);
let showDiv;

if (urlindex == "-1") {
  showDiv = "F";
}
---

<div id={showDiv} class="btn-group grid grid-cols-2 mt-20">
  <a href={urls[urlindex - 1]} class="btn btn-outline">Предыдущая страница</a>
  <a href={urls[urlindex + 1]} class="btn btn-outline">Следующая</a>
</div>
<script>
  document.getElementById("F").style.display = "none";
</script>
