---
const { url } = Astro.props;
const posts = await Astro.glob("../../pages/labs/*.md"); // запрос на файлы
let urls: string | any[];

// Функция сортирует массив файлов по номеру лабораторной
function sortLabs(arr) {
  arr.sort(function (a, b) {
    var labA = parseInt(a.split("/")[a.split("/").length - 1].slice(4));
    var labB = parseInt(b.split("/")[b.split("/").length - 1].slice(4));
    return labA - labB;
  });
  return arr;
}

urls = sortLabs(posts.map((lab) => lab.url));
const urlindex = urls.indexOf(url);

// управляют видимостью кнопок "Предыдущая страница" и "Следующая"
// urlindex - индекс текущей страницы, urls - массив url-ов
let isVisiblePrevButton =
  urlindex == 0 || urlindex == -1 ? "visibility: hidden;" : "";
let isVisibleNextButton =
  urlindex == urls.length - 1 ? "visibility: hidden;" : "";
---

<div class="btn-group grid grid-cols-2 my-10">
  <a
    href={urls[urlindex - 1]}
    class="btn btn-outline"
    style={isVisiblePrevButton}>Предыдущая страница</a
  >
  <a
    href={urls[urlindex + 1]}
    class="btn btn-outline"
    style={isVisibleNextButton}>Следующая</a
  >
</div>
