---
const { url } = Astro.props;
const posts = await Astro.glob("../../pages/labs/*.md"); // запрос на файлы
let urls: string | any[];

// Функция сортирует массив файлов по номеру лабораторной
function sortLabs(arr) {
  arr.sort(function (a, b) {
    var labA = parseInt(a.split("/")[a.split("/").length - 1].slice(4));
    var labB = parseInt(b.split("/")[b.split("/").length - 1].slice(4));
    return labA - labB;
  });
  return arr;
}

urls = sortLabs(posts.map((lab) => lab.url));
const urlindex = urls.indexOf(url);

let isVisiblePrevButton; // управляют видимостью кнопок "Предыдущая страница" и "Следующая"
let isVisibleNextButton;

// urlindex - индекс текущей страницы, urls - массив url-ов
if (urlindex == 0 || urlindex == -1) {
  isVisiblePrevButton = "visibility: hidden;";
}

if (urlindex == urls.length - 1) {
  isVisibleNextButton = "visibility: hidden;";
}
---

<div class="btn-group grid grid-cols-2 mt-20">
  <a
    href={urls[urlindex - 1]}
    class="btn btn-outline"
    style={isVisiblePrevButton}>Предыдущая страница</a
  >
  <a
    href={urls[urlindex + 1]}
    class="btn btn-outline"
    style={isVisibleNextButton}>Следующая</a
  >
</div>
