---

---

<button
    transition:persist
    type="button"
    class="theme-toggle userActions p-1.5 sm:p-5 rounded-[10px]"
    id="theme-toggle"
    title="Переключение темы"
    aria-label="авто"
    aria-live="polite"
>
    <svg class="w-10 h-10" viewBox="0 0 40 40" fill="none" aria-hidden="true">
        <defs>
            <g id="dark-icon">
                <path
                    d="M20 26.5C23.5899 26.5 26.5 23.5899 26.5 20C26.5 16.4101 23.5899 13.5 20 13.5C16.4101 13.5 13.5 16.4101 13.5 20C13.5 23.5899 16.4101 26.5 20 26.5Z"
                    stroke="currentColor"
                    stroke-width="1.33333"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                <path
                    d="M27.14 27.14L27.01 27.01M27.01 12.99L27.14 12.86L27.01 12.99ZM12.86 27.14L12.99 27.01L12.86 27.14ZM20 10.08V10V10.08ZM20 30V29.92V30ZM10.08 20H10H10.08ZM30 20H29.92H30ZM12.99 12.99L12.86 12.86L12.99 12.99Z"
                    stroke="currentColor"
                    stroke-width="1.33333"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
            </g>
            <path
                id="light-icon"
                d="M10.028 20.4222C10.3998 25.5709 14.912 29.7598 20.3122 29.9897C24.1223 30.1497 27.5297 28.4301 29.5742 25.7208C30.4209 24.6111 29.9665 23.8713 28.552 24.1212C27.8601 24.2412 27.1477 24.2912 26.4043 24.2612C21.3551 24.0612 17.2249 19.9723 17.2043 15.1435C17.1939 13.8439 17.4727 12.6142 17.9787 11.4945C18.5362 10.2548 17.8651 9.66493 16.5744 10.1948C12.4855 11.8644 9.6873 15.8533 10.028 20.4222Z"
                stroke="currentColor"
                stroke-width="1.33333"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
        </defs>

        <use id="slot"></use>
    </svg>
</button>

<style>
    .theme-toggle {
        cursor: pointer;
        touch-action: manipulation;
        -webkit-tap-highlight-color: transparent;
    }
</style>
