---
import Heading from "@/components/Heading.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

const baseUrl = import.meta.env.BASE_URL;
---

<BaseLayout>
    <Heading title="Страница не найдена" />
    <section id="no-results" class="page-404">
        <a class="page-404__link" href={baseUrl}> На главную </a>
        <p class="page-404__text">Ой, что-то лапка дрогнула!</p>
        <p class="page-404__text page-404__text_balanced">
            Котик пытался найти курс, но ничего не нашёл. Наверное, это что-то
            слишком сложное для его пушистых лапок. Попробуйте поискать в другом
            месте.
        </p>
        <img
            class="page-404__img"
            src={`${baseUrl}/assets/img/paw-heart.svg`}
            alt="лапка котика с сердечками"
        />
    </section>
</BaseLayout>

<style>
    .page-404 {
        color: var(--color-text-inverted);
        text-align: center;
        transition-name: color;
        transition-duration: 0.3s;
        padding-inline: 2.5rem;
    }

    .page-404__link {
        display: block;
        max-width: 65ch;
        margin-inline: auto;
        margin-bottom: 1rem;
        padding: 20px;
        color: var(--color-text-tertiary);
        border: 1px solid var(--color-text-tertiary);
        border-radius: 20px;
        font-family: NextArt, sans-serif;
    }

    .page-404__text {
        margin-bottom: 0.75rem;
        max-width: 65ch;
        margin-inline: auto;
    }

    .page-404__img {
        margin-bottom: 0.75rem;
        margin-inline: auto;
    }

    .page-404__text_balanced {
        text-wrap: balance;
    }

    .page-404__link:hover {
        color: var(--color-text-inverted);
        background-color: var(--color-bg-tertiary);
    }
</style>
