---
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import ProgressBar from "../components/ProgressBar.astro";
---

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Веб-технологии</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <header class="bg-gray-100">
      <NavBar />
    </header>
    <ProgressBar />
    <main class="prose lg:prose-xl max-w-3xl mx-auto flex-grow">
      <h1 class="text-center">Основы веб-технологий</h1>
      <h2>Лабораторные работы</h2>
      <ul>
        <li><a href="/web-course-site/labs/intro">Вводное занятие</a></li>
        <li><a href="/web-course-site/labs/laba1">Работа №1</a></li>
        <li><a href="/web-course-site/labs/laba2">Работа №2</a></li>
        <li><a href="/web-course-site/labs/laba3">Работа №3</a></li>
        <li><a href="/web-course-site/labs/laba4">Работа №4</a></li>
        <li><a href="/web-course-site/labs/laba5">Работа №5</a></li>
        <li><a href="/web-course-site/labs/laba6">Работа №6</a></li>
      </ul>
      <h2>Дополнительно</h2>
      <ul>
        <li><a href="/web-course-site/rules">Правила</a></li>
        <li>
          <a
            href="https://drive.google.com/drive/folders/1gqy63arTmR91RA67cOOXYh9U1GtcfqUA?usp=sharing"
            target="_blank"
            >Ведомость <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 inline-block"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M7.5 7.5h-.75A2.25 2.25 0 004.5 9.75v7.5a2.25 2.25 0 002.25 2.25h7.5a2.25 2.25 0 002.25-2.25v-7.5a2.25 2.25 0 00-2.25-2.25h-.75m0-3l-3-3m0 0l-3 3m3-3v11.25m6-2.25h.75a2.25 2.25 0 012.25 2.25v7.5a2.25 2.25 0 01-2.25 2.25h-7.5a2.25 2.25 0 01-2.25-2.25v-.75"
              ></path>
            </svg>
          </a>
        </li>
        <li><a href="/web-course-site/plan">План курса</a></li>
        <li><a href="/web-course-site/links">Полезные ссылки</a></li>
        <li><a href="/web-course-site/git">Git и консоль</a></li>
        <li>
          <a href="/web-course-site/hide-element">Как скрывать элементы</a>
        </li>
      </ul>
    </main>
    <Footer />
  </body>
</html>
