---
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import ProgressBar from "../components/ProgressBar.astro";
---

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/web-course-site/favicon.svg" />
    <style>
      @media screen and (min-width: 425px) {
        .columns {
          columns: 2 1em;
        }
        .columns > li {
          margin-top: 0;
        }
      }
    </style>
    <title>Веб-технологии</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <header class="bg-primary sticky top-0">
      <NavBar />
    </header>
    <ProgressBar />
    <main class="prose lg:prose-lg container mx-auto flex-grow px-2 py-12">
      <h1 class="text-center">Основы веб-разработки на стороне клиента</h1>
      <a href="/web-course-site/plan-2">План курса</a>
      <!-- <h2>Контрольная</h2>
      <ul>
        <li><a href="/web-course-site/rk2">Рубежный контроль</a></li>
      </ul> -->
      <h2>Опрос к занятию</h2>
      <!-- <a href="https://forms.yandex.ru/u/64417a0c02848f07251d943c/"
        >Опрос по JS</a
      > -->
      <!-- <a href="https://forms.yandex.ru/u/6438373a5d2a0601f84957f4/"
        >Опрос по A11y</a
      > -->
      <!-- <a href="https://forms.yandex.ru/u/6425d77d068ff0090db05035/"
        >Опрос по RWD</a
      > -->
      <!-- <a href="https://forms.yandex.ru/u/641c8fe4c09c0203fd202746/"
        >Опрос по SCSS</a
      > -->
      <!-- <a href="https://forms.yandex.ru/u/64136c9b3e9d0803175a70ce/"
        >Опрос по SVG</a
      > -->
      <!-- <a href="https://forms.yandex.ru/u/640a23a684227c071820031e/"
        >Опрос по Grid</a
      > -->
      <!-- <a href="https://forms.yandex.ru/u/6453ed67505690242903918f/"
        >Опрос по this, new</a
      > -->
      <a href="https://forms.yandex.ru/u/646fa9d9f47e7308f11e762d/">Fetch</a>
      <h2>Лабораторные работы</h2>
      <ol class="columns">
        <li><a href="/web-course-site/labs/laba21">BEM и ветвление</a></li>
        <li><a href="/web-course-site/labs/laba22">Grid</a></li>
        <li><a href="/web-course-site/labs/laba23">SVG</a></li>
        <li><a href="/web-course-site/labs/laba24">SCSS</a></li>
        <li><a href="/web-course-site/labs/laba25">RWD</a></li>
        <li><a href="/web-course-site/labs/laba26">A11y</a></li>
        <li><a href="/web-course-site/labs/laba27">JS</a></li>
        <li><a href="/web-course-site/labs/laba28">new, this, anime.js</a></li>
        <li><a href="/web-course-site/labs/laba29">Promise</a></li>
      </ol>
      <h1 class="text-center">Основы веб-технологий</h1>
      <a href="/web-course-site/plan">План курса</a>
      <h2>Контрольная</h2>
      <ul>
        <li><a href="/web-course-site/rk">Рубежный контроль</a></li>
      </ul>
      <h2>Лабораторные работы</h2>
      <ol class="columns" start="0">
        <li><a href="/web-course-site/labs/intro">Вводная</a></li>
        <li><a href="/web-course-site/labs/laba1">Разметка HTML</a></li>
        <li><a href="/web-course-site/labs/laba2">CSS: работа с текстом</a></li>
        <li><a href="/web-course-site/labs/laba3">Блочная модель</a></li>
        <li><a href="/web-course-site/labs/laba4">Flexbox</a></li>
        <li><a href="/web-course-site/labs/laba5">Изображения</a></li>
        <li><a href="/web-course-site/labs/laba6">Формы и ссылки</a></li>
        <li>
          <a href="/web-course-site/labs/laba7">Псевдоклассы и -элементы</a>
        </li>
        <li><a href="/web-course-site/labs/laba8">Переходы, анимации</a></li>
        <li>
          <a href="/web-course-site/labs/laba9">JS переменные, операторы</a>
        </li>
        <li>
          <a href="/web-course-site/labs/laba10">JS функции</a>
        </li>
        <li>
          <a href="/web-course-site/labs/laba11">DOM</a>
        </li>
        <li>
          <a href="/web-course-site/labs/laba12">Валидация данных в форме</a>
        </li>
      </ol>
      <h2>Дополнительно</h2>
      <ul>
        <li><a href="/web-course-site/rules">Правила</a></li>
        <li>
          <a
            href="https://drive.google.com/drive/folders/1gqy63arTmR91RA67cOOXYh9U1GtcfqUA?usp=sharing"
            target="_blank"
            >Ведомость <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 inline-block">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M7.5 7.5h-.75A2.25 2.25 0 004.5 9.75v7.5a2.25 2.25 0 002.25 2.25h7.5a2.25 2.25 0 002.25-2.25v-7.5a2.25 2.25 0 00-2.25-2.25h-.75m0-3l-3-3m0 0l-3 3m3-3v11.25m6-2.25h.75a2.25 2.25 0 012.25 2.25v7.5a2.25 2.25 0 01-2.25 2.25h-7.5a2.25 2.25 0 01-2.25-2.25v-.75"
              ></path>
            </svg>
          </a>
        </li>
        <li><a href="/web-course-site/links">Полезные ссылки</a></li>
        <li><a href="/web-course-site/git">Git и консоль</a></li>
        <li><a href="/web-course-site/hide-element">Скрываем элементы</a></li>
        <li><a href="/web-course-site/debug-box">Отладка блочной модели</a></li>
        <li>
          <a href="/web-course-site/check">Сравнение макета с вашей работой</a>
        </li>
      </ul>
    </main>
    <Footer />
  </body>
</html>
