---
import BaseLayoutSnow from "../layouts/BaseLayoutSnow.astro";

const courses = [
    {
        title: "Основы веб-технологий",
        href: `/web-course-site/labs/web-tech`,
        descr: "Изучаем, как работает браузер, рассматриваем адаптивную верстку и ключевые принципы доступности",
    },
    {
        title: "Основы веб-разработки",
        href: `/web-course-site/labs/web-client-dev`,
        descr: "Изучаем основы JavaScript и знакомимся с различными API, предоставляемыми браузером",
    },
    {
        title: "Веб-разработка на клиенте",
        href: `/web-course-site/labs/web-client-dev-ts`,
        descr: "Изучаем основы работы с типами и язык TypeScript, а также осваиваем применение фреймворка Vue",
    },
];
---

<BaseLayoutSnow>
    <section
        class="section-hero bg-bg-primary rounded-b-[60px] h-3xl relative z-1 mb-30"
    >
        <div
            class="hero-container flex flex-col justify-end h-full text-center items-center"
        >
            <h1 class="line-height-[1]">Веб-разработка</h1>
            <h2 class="line-height-[1] font-400 mb-5">от теории к практике</h2>
            <p class="mb-7.5 max-w-1/3">
                Три курса последовательно погружают в разработку на стороне
                клиента
            </p>
            <img
                src="./src/assets/img/cat-code.svg"
                alt="смешной котик программирует"
            />
        </div>
    </section>
    <section class="section-courses mb-30">
        <div class="courses-container max-w-screen-xl mx-auto">
            <h2 class="courses-title text-center mb-5">Курсы</h2>
            <ul class="courses-list flex flex-col gap-5">
                {
                    courses.map((course) => (
                        <li class="courses-item rounded-[30px] bg-bg-secondary p-10">
                            <div class="flex justify-between ">
                                <h3 class="courses-item-title">
                                    {course.title}
                                </h3>
                                <div class="max-w-[360px] gap-14 flex flex-col items-end">
                                    <p class="courses-item-descr">
                                        {course.descr}
                                    </p>
                                    <button class="courses-item-btn" />
                                </div>
                            </div>
                        </li>
                    ))
                }
            </ul>
        </div>
    </section>
</BaseLayoutSnow>

<style>
    .section-hero {
        position: relative;
        overflow: hidden;
    }

    .section-hero::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-bg-accent-first);
        -webkit-mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 728" fill="none"%3E%3Cpath d="M-384.828 550.33C-279.518 431.882 -29.173 211.72 129.724 278.664C328.344 362.345 -156.414 623.403 -2.48331 780.746C176.815 964.017 967.034 -77.2714 1180.55 48.249C1394.07 173.769 1062.62 452.507 1180.55 550.33C1274.9 628.589 1460.28 401.827 1541.17 278.664" stroke="black" stroke-width="150"/%3E%3C/svg%3E');
        mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 728" fill="none"%3E%3Cpath d="M-384.828 550.33C-279.518 431.882 -29.173 211.72 129.724 278.664C328.344 362.345 -156.414 623.403 -2.48331 780.746C176.815 964.017 967.034 -77.2714 1180.55 48.249C1394.07 173.769 1062.62 452.507 1180.55 550.33C1274.9 628.589 1460.28 401.827 1541.17 278.664" stroke="black" stroke-width="150"/%3E%3C/svg%3E');
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .courses-item-btn {
        background: url("./src/assets/img/goto.svg") no-repeat center;
        width: 50px;
        height: 50px;
        border: 1px solid var(--color-border);
        border-radius: 100%;
        color: var(--color-border);
    }
</style>
