---
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
---

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Веб-технологии</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <header class="bg-gray-100">
      <NavBar />
    </header>
    <main class="prose lg:prose-xl max-w-3xl mx-auto flex-grow mt-16">
      <h1 class="text-center">Основы веб-технологий</h1>
      <h2>Лабораторные работы</h2>
      <ul>
        <li><a href="/web-course-site/labs/intro">Вводное занятие</a></li>
        <li><a href="/web-course-site/labs/laba1">Лабораторная работа №1</a></li>
        <li><a href="/web-course-site/labs/laba2">Лабораторная работа №2</a></li>
        <li><a href="/web-course-site/labs/laba3">Лабораторная работа №3</a></li>
      </ul>
      <h2>Дополнительно</h2>
      <ul>
        <li><a href="/web-course-site/rules">Правила</a></li>
        <li><a href="https://drive.google.com/drive/folders/1gqy63arTmR91RA67cOOXYh9U1GtcfqUA?usp=sharing">Ведомость</a></li>
        <li><a href="/web-course-site/links">Полезные ссылки</a></li>
        <li><a href="/web-course-site/plan">План курса</a></li>
      </ul>
    </main>
    <Footer />
  </body>
</html>
