---
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Веб-технологии</title>
  </head>
  <body>
    <main class="prose lg:prose-xl max-w-3xl mx-auto">
      <h1 class="text-center">Основы веб-технологий</h1>
      <ul>
        <li><a href="/web-course-site/rules">Правила</a></li>
        <li><a href="/web-course-site/links">Полезные ссылки</a></li>
        <li><a href="/web-course-site/labs/intro">Вводное занятие</a></li>
        <li><a href="/web-course-site/labs/laba1">Лабораторная работа №1</a></li>
        <li><a href="/web-course-site/plan">План курса</a></li>
      </ul>
    </main>
    <Footer />
  </body>
</html>
