---
import BaseLayout from "/src/layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="prose lg:prose-lg mx-auto">
    <h1 class="[text-wrap:balance]">Курсы по разработке на стороне клиента</h1>
    <span
      ><a
        class="link text-neutral alert alert-warning max-w-max"
        href="/web-course-site/retake"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          class="stroke-current shrink-0 h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
          ></path></svg
        > Информация о консультациях к пересдаче</a
      ></span
    >
    <ol>
      <li>
        <a href="/web-course-site/labs/web-tech">Основы веб-технологий</a>
      </li>
      <li>
        <a href="/web-course-site/labs/web-client-dev"
          >Основы веб-разработки на стороне клиента</a
        >
      </li>
      <li>
        <a href="/web-course-site/labs/web-client-dev-ts"
          >Веб-разработка на стороне клиента</a
        >
      </li>
    </ol>
    <p>
      Три курса последовательно погружают в разработку на стороне клиента. В
      рамках основ веб-технологий разбирается работа браузера и общие принципы
      построения веб-платформы, также изучаются адаптивная верстка и принципы
      доступности. В курсе основ веб-разработки на стороне клиента изучаются
      основы Javascript и различные API, которые предоставляет браузер. И третий
      курс дает основы работы с типами и TypeScript, затем рассматривается
      применение фреймворка Vue.
    </p>
    <h2>Преподаватели</h2>
    <ul>
      <li>Верещагин Владислав Юрьевич, к.т.н.</li>
      <li>Гнибеда Артем Юрьевич</li>
    </ul>
    <h2>Ассистенты преподавателя</h2>
    <ul>
      <li>Мелихова Ева-София Бориславовна</li>
      <li>Хаметов Артём Максимович</li>
    </ul>
  </div>
</BaseLayout>

<style>
  @media screen and (min-width: 500px) {
    .columns {
      columns: 2 1em;
    }
    .columns > li {
      margin-top: 0;
    }
  }
</style>
