---
import BaseLayout from "/src/layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="prose lg:prose-lg mx-auto">
    <h1>Пересдача</h1>
    <h2>Пересдача для студентов 2022 года поступления</h2>
    <p>
      До даты пересдачи необходимо на консультациях защитить лабораторные работы
      по курсу "Основы веб-разработки на стороне клиента". Финальная работа по
      Vue защищается как обычная лабораторная работа. Ваша задача набрать 55
      баллов или выше, чтобы получить положительную оценку на пересдаче.
    </p>
    <p>
      На самой пересдаче только проставляются оценки про результатам вашей
      работы.
    </p>
    <p>
      Лабораторные работы вы можете найти <a
        href="/web-course-site/labs/archive">в архиве</a
      >.
    </p>
  </div>
</BaseLayout>