---
import Heading from "../components/Heading.astro";
import LinkCard from "../components/LinkCard.astro";
import YandexSchedule from "../components/YandexSchedule.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const slavaverRetakes = [
    "Веб-разработка на стороне клиента",
    "Веб-технологии  (САПР)",
];

const gnibedaRetakes = [
    "Веб-разработка на стороне клиента",
    "Веб-технологии  (САПР)",
];
---

<BaseLayout>
    <Heading title="Пересдача" />
    <section>
        <div
            class="max-w-screen px-5 md:px-15 xl:px-0 xl:max-w-screen-xl mx-auto mb-30"
        >
            <div class="text-center mb-10 text-text-inverted">
                <h2>Верещагин Владислав Юрьевич</h2>
                <p>Можно сдать задолженности по дисциплинам</p>
            </div>
            <ul class="grid grid-cols-1 md:grid-cols-2 gap-5 w-full">
                {
                    slavaverRetakes.map((discipline) => (
                        <LinkCard title={discipline} />
                    ))
                }
            </ul>
        </div>
        <div
            class="max-w-screen px-5 md:px-15 xl:px-0 xl:max-w-screen-xl mx-auto mb-30"
        >
            <div class="text-center mb-10">
                <h2>Ближайшие консультации</h2>
                <p>
                    Возможны изменения в графиках консультаций, поэтому
                    проверяйте их перед посещением консультации
                </p>
            </div>
            <div class="mb-30">
                <YandexSchedule
                    token="55ac0157c84d9d0a2e56435599669603b1aefe18"
                />
            </div>
            <div
                class="max-w-screen px-5 md:px-15 xl:px-0 xl:max-w-screen-xl mx-auto mb-30"
            >
                <div class="text-center mb-10 text-text-inverted">
                    <h2>Гнибеда Артем Юрьевич</h2>
                    <p>Можно сдать задолженности по дисциплинам</p>
                </div>
                <ul class="grid grid-cols-1 md:grid-cols-2 gap-5 w-full">
                    {
                        gnibedaRetakes.map((discipline) => (
                            <LinkCard title={discipline} />
                        ))
                    }
                </ul>
            </div>
            <div class="text-center mb-10">
                <h2>Ближайшие консультации</h2>
                <p>
                    Возможны изменения в графиках консультаций, поэтому
                    проверяйте их перед посещением консультации
                </p>
            </div>
            <div class="mb-30">
                <YandexSchedule
                    token="f29a08d044cd1f95949548408ba99da9a9d7daae"
                />
            </div>
        </div>
    </section>
    <!-- <section>
        <h2>Верещагин Владислав Юрьевич</h2>
        <p>Можно сдать задолженности по:</p>
        <ul>
            <li>Веб-разработка на стороне клиента</li>
            <li>Веб-технологии (САПР)</li>
        </ul>

        <h3>Ближайшие консультации</h3>

        <p>
            Возможны изменения в графиках консультаций, поэтому проверяйте их
            перед посещением консультации.
        </p>
        <YandexSchedule token="55ac0157c84d9d0a2e56435599669603b1aefe18" />

        <h2>Гнибеда Артем Юрьевич</h2>
        <p>Можно сдать задолженности по:</p>
        <ul>
            <li>Основы веб-технологий</li>
            <li>Веб-технологии (САПР)</li>
        </ul>

        <h3>Ближайшие консультации</h3>

        <p>
            Возможны изменения в графиках консультаций, поэтому проверяйте их
            перед посещением консультации.
        </p>
        <YandexSchedule token="f29a08d044cd1f95949548408ba99da9a9d7daae" />
    </section>
    <h2>Информация по дисциплинам</h2>
    <h3>Бакалавриат</h3>
    <details class="mb-4">
        <summary class="font-semibold text-lg">Основы веб-технологий</summary>
        <p>
            До даты пересдачи необходимо на консультациях показать и защитить
            лабораторные работы по курсу "Основы веб-технологий". Перед защитой
            все ваши файлы должны быть размещены на github и на хостинге. В
            процессе защиты лабораторных работ необходимо подключиться по
            ссылке, указав свои ФИО (люди с непонятными или чужими никнеймами до
            встречи допущены не будут). При вызове фамилии необходимо включить
            камеру и трансляцию своего экрана для демонстрации работ.
        </p>
        <p>
            После того, как вы защитите все лабораторные работы, необходимо ОЧНО
            явиться для написания рубежного контроля. Подойти можете во время
            моих занятий, я выдам задание на 1,5 часа. Дистанционно рубежный
            контроль не пишется ни при каких обстоятельствах. Ваша задача
            набрать 55 баллов или выше, чтобы получить положительную оценку на
            пересдаче. На самой пересдаче только проставляются оценки про
            результатам вашей работы.
        </p>
        <p>
            На самой пересдаче только проставляются оценки про результатам вашей
            работы.
        </p>
        <p>
            Лабораторные работы вы можете найти <a
                href="/web-course-site/labs/web-tech/">на странице курса</a
            >.
        </p>
    </details>


    <details class="mb-4">
        <summary class="font-semibold text-lg"
            >Веб-разработка на стороне клиента</summary
        >
        <p>
            До даты пересдачи необходимо на консультациях защитить лабораторные
            работы по курсу "Основы веб-разработки на стороне клиента". Ваша
            задача набрать 50 баллов или выше, чтобы получить положительную
            оценку на пересдаче.
        </p>
        <p>
            На самой пересдаче только проставляются оценки про результатам вашей
            работы.
        </p>
        <p>
            Лабораторные работы вы можете найти <a
                href="/web-course-site/labs/web-client-dev-ts/"
                >на странице курса</a
            >.
        </p>
    </details>
    <details class="mb-4">
        <summary class="font-semibold text-lg"> Веб-технологии (САПР)</summary>
        <p>
            До даты пересдачи необходимо на консультациях защитить лабораторные
            работы по курсу <a href="https://rad-capybara-bd0e52.netlify.app/"
                >"Веб-технологии"</a
            >. Ваша задача набрать 50 баллов или выше, чтобы получить
            положительную оценку на пересдаче.
        </p>
        <p>
            На самой пересдаче только проставляются оценки про результатам вашей
            работы.
        </p>
    </details>
    <h3>Магистратура</h3>
    <details class="mb-4">
        <summary class="font-semibold text-lg">Техническое зрение</summary>
        <p>
            Не позднее чем за двое суток до пересдачи пришлите выполненные
            работы в курс <a
                href="https://online.mospolytech.ru/course/view.php?id=1963"
                >"Техническое зрение"</a
            > на проверку. В случае отсутствия принципиальных замечаний может быть
            выставлена оценка удовлетворительно.
        </p>
        <p>
            Для получение оценки хорошо/отлично необходимо очно ответить на
            вопросы по выполненным работам.
        </p>
    </details>
    <details class="mb-4">
        <summary class="font-semibold text-lg">Распознавание образов</summary>
        <p>
            Не позднее чем за двое суток до пересдачи пришлите выполненные
            работы в курс <a
                href="https://online.mospolytech.ru/course/view.php?id=5656"
                >"Распознавание образов"</a
            > на проверку. Для получения положительной оценки трубуется набрать средний
            балл за 5 лабораторных работ более 50.
        </p>
    </details> -->

    <!-- <details class="mb-4">
      <summary class="font-semibold text-lg"
        >Основы веб-разработки на стороне клиента</summary
      >
      <p>
        До даты пересдачи необходимо на консультациях защитить лабораторные
        работы по курсу "Основы веб-разработки на стороне клиента". Ваша задача
        набрать 50 баллов или выше, чтобы получить положительную оценку на
        пересдаче.
      </p>
      <p>
        На самой пересдаче только проставляются оценки про результатам вашей
        работы.
      </p>
      <p>
        Лабораторные работы вы можете найти <a
          href="/web-course-site/labs/web-client-dev">на странице курса</a
        >.
      </p>
    </details> -->
</BaseLayout>
