---
import BaseLayout from "/src/layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="prose lg:prose-lg mx-auto">
    <h1>Пересдачи</h1>
    <section>
      <h2>График консультаций</h2>
      <p>
        Возможны изменения в графике консультаций, поэтому регулярно проверяйте
        его.
      </p>

      <h3>Верещагин В.Ю.</h3>
      <div id="consultations"></div>
    </section>

    <h2>Информация по дисциплинам</h2>
    <details class="mb-4">
      <summary class="font-semibold text-lg"
        >Основы веб-разработки на стороне клиента</summary
      >
      <p>
        До даты пересдачи необходимо на консультациях защитить лабораторные
        работы по курсу "Основы веб-разработки на стороне клиента". Ваша задача
        набрать 50 баллов или выше, чтобы получить положительную оценку на
        пересдаче.
      </p>
      <p>
        На самой пересдаче только проставляются оценки про результатам вашей
        работы.
      </p>
      <p>
        Лабораторные работы вы можете найти <a
          href="/web-course-site/labs/web-client-dev">на странице курса</a
        >.
      </p>
    </details>
    <details class="mb-4">
      <summary class="font-semibold text-lg"
        >Обработка изображений (бакалавриат)</summary
      >
      <p>
        В <a href="https://online.mospolytech.ru/course/view.php?id=13620"
          >курсе СДО</a
        >
        выполнить задания в темах 1,2,3,5,6 и до дня пересдачи очно их защитить:
        ответить на вопросы по коду и теории.
      </p>
      <p>
        На самой пересдаче только проставляется зачет/незачет про результатам
        вашей работы.
      </p>
    </details>
    <details class="mb-4">
      <summary class="font-semibold text-lg">
        Разработка веб-приложений и баз данных</summary
      >
      <p>
        До даты пересдачи необходимо на консультациях защитить лабораторные
        работы по курсу <a href="https://rad-capybara-bd0e52.netlify.app/"
          >"Разработка веб-приложений и баз данных"</a
        >. Ваша задача набрать 50 баллов или выше, чтобы получить положительную
        оценку на пересдаче.
      </p>
      <p>
        На самой пересдаче только проставляются оценки про результатам вашей
        работы.
      </p>
    </details>
    <details class="mb-4">
      <summary class="font-semibold text-lg">Техническое зрение</summary>
      <p>
        Не позднее чем за двое суток до пересдачи пришлите выполненные работы в
        курс <a href="https://online.mospolytech.ru/course/view.php?id=1963"
          >"Техническое зрение"</a
        > на проверку. В случае отсутствия принципиальных замечаний может быть выставлена
        оценка удовлетворительно.
      </p>
      <p>
        Для получение оценки хорошо/отлично необходимо очно ответить на вопросы
        по выполненным работам.
      </p>
    </details>
  </div>

  <template id="event-template">
    <li>
      <span class="font-semibold title"></span>:
      <span class="date"></span>
      <span class="start-time"></span> -
      <span class="end-time"></span>
    </li>
  </template>
</BaseLayout>

<script>
  const URL =
    "https://calendar.yandex.ru/export/html.xml?private_token=55ac0157c84d9d0a2e56435599669603b1aefe18&tz_id=Europe/Moscow&limit=10";

  function getDateAndTimeYaCalendar(text) {
    const arr = text.split(" ");
    const time = arr.pop();
    const date = arr.join(" ");
    return {
      date,
      time,
    };
  }

  async function getData(url) {
    try {
      const res = await fetch(url);
      if (!res.ok) {
        return null;
      }
      const data = await res.text();
      return data;
    } catch {
      return null;
    }
  }

  function appendError(parrent, errorMessage) {
    const message = document.createElement("p");
    message.innerText = errorMessage;
    parrent.appendChild(message);
  }

  const parser = new DOMParser();

  document.addEventListener("DOMContentLoaded", async () => {
    const divConsultations = document.querySelector("#consultations");

    const eventsHTML = await getData(URL);

    if (!eventsHTML) {
      appendError(
        divConsultations,
        "Ошибка загрузки расписания. Попробуйте перезагрузить страницу."
      );
      return;
    }

    const eventList = document.createElement("ol");

    const dom = parser.parseFromString(eventsHTML, "text/html");
    const template = document.querySelector("#event-template");

    const listOfEvents = dom.querySelectorAll("div.b-content-event");

    listOfEvents.forEach((eventElement) => {
      const clone = template.content.cloneNode(true);

      clone.querySelector(".title").innerText =
        eventElement.querySelector("h1").innerText;

      const startTimeValue = eventElement.querySelector(
        ".e-time span:nth-child(1)"
      ).innerText;
      const { date, time: startTime } =
        getDateAndTimeYaCalendar(startTimeValue);
      clone.querySelector(".date").innerText = date;
      clone.querySelector(".start-time").innerText = startTime;

      const endTimeValue = eventElement.querySelector(
        ".e-time span:nth-child(2)"
      ).innerText;
      const { time: endTime } = getDateAndTimeYaCalendar(endTimeValue);
      clone.querySelector(".end-time").innerText = endTime;
      eventList.appendChild(clone);
    });

    divConsultations.append(eventList);
  });
</script>
