---
import Heading from "../components/Heading.astro";
import BaseLayout from "/src/layouts/BaseLayout.astro";
---

<BaseLayout>
    <section>
        <Heading title="Пересдачи" />
        <div
            class="max-w-screen px-5 md:px-15 xl:px-0 xl:max-w-screen-xl mx-auto mb-30 text-text-inverted"
        >
            <h2>График консультаций</h2>
            <p>
                Возможны изменения в графике консультаций, поэтому регулярно
                проверяйте его.
            </p>
            <iframe
                class="w-full"
                title="График консультаций"
                src="https://calendar.yandex.ru/export/html.xml?private_token=55ac0157c84d9d0a2e56435599669603b1aefe18&tz_id=Europe/Moscow&limit=90"
            ></iframe>

            <h2>Информация по дисциплинам</h2>
            <details class="mb-4">
                <summary class="font-semibold text-lg"
                    >Основы веб-разработки на стороне клиента</summary
                >
                <p>
                    До даты пересдачи необходимо на консультациях защитить
                    лабораторные работы по курсу "Основы веб-разработки на
                    стороне клиента". Ваша задача набрать 50 баллов или выше,
                    чтобы получить положительную оценку на пересдаче.
                </p>
                <p>
                    На самой пересдаче только проставляются оценки про
                    результатам вашей работы.
                </p>
                <p>
                    Лабораторные работы вы можете найти <a
                        href="/web-course-site/labs/web-client-dev"
                        >на странице курса</a
                    >.
                </p>
            </details>
            <details class="mb-4">
                <summary class="font-semibold text-lg"
                    >Обработка изображений (бакалавриат)</summary
                >
                <p>
                    В <a
                        href="https://online.mospolytech.ru/course/view.php?id=13620"
                        >курсе СДО</a
                    >
                    выполнить задания в темах 1,2,3,5,6 и до дня пересдачи очно их
                    защитить: ответить на вопросы по коду и теории.
                </p>
                <p>
                    На самой пересдаче только проставляется зачет/незачет про
                    результатам вашей работы.
                </p>
            </details>
            <details class="mb-4">
                <summary class="font-semibold text-lg">
                    Разработка веб-приложений и баз данных</summary
                >
                <p>
                    До даты пересдачи необходимо на консультациях защитить
                    лабораторные работы по курсу <a
                        href="https://rad-capybara-bd0e52.netlify.app/"
                        >"Разработка веб-приложений и баз данных"</a
                    >. Ваша задача набрать 50 баллов или выше, чтобы получить
                    положительную оценку на пересдаче.
                </p>
                <p>
                    На самой пересдаче только проставляются оценки про
                    результатам вашей работы.
                </p>
            </details>
            <details class="mb-4">
                <summary class="font-semibold text-lg"
                    >Техническое зрение</summary
                >
                <p>
                    Не позднее чем за двое суток до пересдачи пришлите
                    выполненные работы в курс <a
                        href="https://online.mospolytech.ru/course/view.php?id=1963"
                        >"Техническое зрение"</a
                    > на проверку. В случае отсутствия принципиальных замечаний может
                    быть выставлена оценка удовлетворительно.
                </p>
                <p>
                    Для получение оценки хорошо/отлично необходимо очно ответить
                    на вопросы по выполненным работам.
                </p>
            </details>
        </div>
    </section>
</BaseLayout>
