---
import { getCollection } from "astro:content";

import BaseLayout from "/src/layouts/BaseLayout.astro";

const yearOnMain = "2023";

const allWebTech = await getCollection("web-client-dev-ts");

const lastWebtech = allWebTech
  .filter((material) => material.id.startsWith(yearOnMain))
  .sort((a, b) => a.data.number - b.data.number);
---

<BaseLayout>
  <div class="prose lg:prose-lg mx-auto">
    <h1>Веб-разработка на стороне клиента</h1>
    <p>
      <a
        href="https://drive.google.com/drive/folders/1Ifv2U1KM9Xu-n8btd0lYwXjttPSIfc1j?usp=drive_link"
        target="_blank">Ведомость и доп. материалы</a
      >
    </p>
    <p>
      <a href="http://labcolor.space/lecture1/index.html" target="_blank"
        >Лекция 1</a
      >, <a href="http://labcolor.space/lecture2/index.html" target="_blank"
        >Лекция 2</a
      >, <a href="http://labcolor.space/lecture3/index.html" target="_blank"
        >Лекция 3</a
      >, <a href="http://labcolor.space/lecture4/index.html" target="_blank"
        >Лекция 4</a
      >, <a href="http://labcolor.space/lecture5/index.html" target="_blank"
        >Лекция 5</a
      >, <a href="http://labcolor.space/lecture6/index.html" target="_blank"
        >Лекция 6</a
    >
    </p>
    {
      lastWebtech
        .filter((post) => post.data.type === "schedule")
        .map((post) => (
          <a href={`/web-course-site/labs/web-client-dev-ts/${post.slug}`}>
            {post.data.title}
          </a>
        ))
    }
    <h2>Лабораторные работы</h2>
    <ol class="columns">
      {
        lastWebtech
          .filter((post) => post.data.type === "labs")
          .sort((a, b) => a.data.number - b.data.number)
          .map((post) => (
            <li>
              <a href={`/web-course-site/labs/web-client-dev-ts/${post.slug}`}>
                {post.data.title}
              </a>
            </li>
          ))
      }
    </ol>
    <h3>Рубежный контроль</h3>
    <p>Будет опубликован к дате контроля</p>
  </div>
</BaseLayout>

<style>
  @media screen and (min-width: 500px) {
    .columns {
      columns: 2 1em;
    }
    .columns > li {
      margin-top: 0;
    }
  }
</style>
