---
const { links } = Astro.props;
import BookSvg from "../assets/img/bookSvg.astro";
import HouseSvg from "../assets/img/houseSvg.astro";
import DataBaseSvg from "../assets/img/databaseSvg.astro";
---

<style>
    .burger-menu {
        cursor: pointer;
        z-index: 9999;
    }

    .burger-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 30px;
    }

    .burger-icon div {
        width: 100%;
        height: 2px;
        background: var(--color-text-primary);
        border-radius: 2px;
        transition: all 0.2s ease-in-out;
    }

    .burger-icon.open div:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .burger-icon.open div:nth-child(2) {
        transform: scale(0);
        opacity: 0;
    }

    .burger-icon.open div:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }
</style>
<div class="inline-block md:hidden order--1 z-99">
    <div class="burger-menu userActions p-2.75 rounded-[10px]">
        <div class="burger-icon">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>

<script defer>
    let isOpen = false;

    const menu = document.querySelector(".menu");
    const burgerMenu = document.querySelector(".burger-menu");
    const burgerIcon = document.querySelector(".burger-icon");

    const toggleMenu = () => {
        isOpen = !isOpen;
        menu.classList.toggle("open", isOpen);
        burgerIcon.classList.toggle("open", isOpen);
    };

    burgerMenu ? burgerMenu.addEventListener("click", toggleMenu) : null;
</script>
