---
const { links } = Astro.props;
import BookSvg from "../assets/img/bookSvg.astro";
import HouseSvg from "../assets/img/houseSvg.astro";
import DataBaseSvg from "../assets/img/databaseSvg.astro";
---

<style>
    .burger-menu {
        cursor: pointer;
    }

    .burger-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 30px;

        z-index: 10;
    }

    .burger-icon div {
        width: 100%;
        height: 2px;
        background: var(--color-text-primary);
        border-radius: 2px;
        transition: all 0.2s ease-in-out;
    }

    .burger-icon.open div:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .burger-icon.open div:nth-child(2) {
        transform: scale(0);
        opacity: 0;
    }

    .burger-icon.open div:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }

    .menu {
        position: absolute;
        box-sizing: border-box;
        top: 33px;
        left: 0;
        margin: 0 25vw 0 calc(25vw - 10px);
        width: 0vw;
        height: 80px;
        opacity: 0;
        transform: scale(0) translateY(-23%);
        transform-origin: top right;
        transition: all 0.2s ease-in-out;
    }

    .menu.open {
        transform: scale(1) translateY(-23%);
        width: 50vw;
        opacity: 1;
    }

    .menu a {
        display: block;
    }
</style>
<div class="inline-block md:hidden">
    <div class="burger-menu userActionsLink">
        <div class="burger-icon">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <nav class="menu text-text-primary justify-around flex">
        <a href={links[0].href} class="userActionsLink"><HouseSvg /></a>
        <a href={links[1].href} class="userActionsLink"><BookSvg /></a>
        <a href={links[2].href} class="userActionsLink"><DataBaseSvg /></a>
    </nav>
</div>

<script defer>
    let isOpen = false;

    const menu = document.querySelector(".menu");
    const burgerMenu = document.querySelector(".burger-menu");
    const burgerIcon = document.querySelector(".burger-icon");

    const toggleMenu = () => {
        isOpen = !isOpen;
        menu.classList.toggle("open", isOpen);
        burgerIcon.classList.toggle("open", isOpen);
    };

    burgerMenu ? burgerMenu.addEventListener("click", toggleMenu) : null;
</script>
