---
interface Props {
    href: string;
    title: string;
    description: string;
}

const { href, title, description } = Astro.props;
---

<a href={href}>
    <li
        class="courses-item rounded-[30px] bg-bg-secondary p-5 md:p-7.5 lg:p-10 userActions"
    >
        <div class="flex flex-col md:flex-row justify-between">
            <h3 class="courses-item-title no-break-hyphen">
                {title}
            </h3>
            <div
                class="max-w-auto md:max-w-[365px] gap-14 flex flex-col items-end"
            >
                <p class="courses-item-descr w-full">
                    {description}
                </p>
                <button class="courses-item-btn"></button>
            </div>
        </div>
    </li>
</a>

<style>
    .courses-item-btn {
        background: url("/assets/img/goto.svg") no-repeat center;
        width: 50px;
        height: 50px;
        border: 1.5px solid var(--color-border);
        border-radius: 100%;
        color: var(--color-border);
    }
</style>
