---
const { options } = Astro.props as {
    options: { label: string; value: string }[];
};
---

<script>
    const select = document.getElementById("custom-select");

    select?.addEventListener("change", (event) => {
        select.blur();
        if (event.target) {
            const value = (event.target as HTMLSelectElement).value;

            const customEvent = new CustomEvent("selectChanged", {
                detail: { value },
                bubbles: true,
            });

            select.dispatchEvent(customEvent);
        }
    });
</script>

<div class="custom-select-box">
    <select
        class="custom-select bg-bg-screen text-input-placeholder border-1 border-input-border focus:border-transparent focus:bg-input-hover outline-none"
        id="custom-select"
    >
        {
            options ? (
                <>
                    <option disabled selected hidden>
                        Выберите курс
                    </option>
                    {options.map((option) => (
                        <option value={option.value}>{option.label}</option>
                    ))}
                </>
            ) : (
                <option selected disabled hidden value="null">
                    Нет доступных вариантов
                </option>
            )
        }
    </select>
</div>

<style>
    div.custom-select-box:has(select.custom-select) {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    div.custom-select-box:has(select.custom-select)::after {
        transition: all 0.2s ease-in-out;
        content: "";
        position: absolute;
        top: 25px;
        right: 15px;
        width: 21px;
        height: 20px;
        background-color: var(--color-placeholder-input);
        -webkit-mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none"%3E%3Cpath d="M16.3337 7.5L10.5003 13.3333L4.66699 7.5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E');
        mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none"%3E%3Cpath d="M16.3337 7.5L10.5003 13.3333L4.66699 7.5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E');
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: cover;
        mask-size: cover;
    }
</style>
