---
const today = new Date();

const baseUrl = import.meta.env.BASE_URL;
---

<footer
    class="bg-bg-primary z-99 rounded-t-[30px] sm:rounded-t-[60px] px-10 py-14">
    <div
        class="top-content flex flex-col gap-5 lg:gap-0 lg:flex-row justify-between max-w-screen-xl mx-auto mb-2 items-center sm:items-start">
        <img
            class="mb-auto"
            width="200px"
            src={`${baseUrl}/assets/img/logo-full.svg`}
            alt="Логотип Московского Политеха"
        />
    </div>
    <div class="bot-content max-w-prose mx-auto">
        <p class="mb-4 text-center">
            Если вы заметили ошибку или хотите предложить изменения, пожалуйста, <a
                class="border-b-2"
                href="https://github.com/slavaver/web-course-site/issues/new"
                >создайте issue</a
            > в репозитории.
        </p>
    </div>
    <div
        class="flex flex-col text-center sm:text-start sm:flex-row justify-between w-full align-bottom max-w-screen-xl mx-auto">
        <p class="text-center text-[16px] mt-auto">
            &copy; {today.getFullYear()} Московский Политех
        </p>
        <div>
            <p class="text-[16px]">
                Дизайн сайта <a class="text-[16px]" href="https://t.me/shultsee"
                    >@shultsee</a
                >
            </p>
            <p class="text-[16px]">
                Разработка сайта <a
                    class="text-[16px]"
                    href="https://t.me/qalqa_dev">@qalqa_dev</a
                >
            </p>
        </div>
    </div>
</footer>

<style>
    footer {
        position: relative;
        overflow: hidden;
    }

    footer::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-bg-accent-first);
        -webkit-mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 728" fill="none"%3E%3Cpath d="M-384.828 550.33C-279.518 431.882 -29.173 211.72 129.724 278.664C328.344 362.345 -156.414 623.403 -2.48331 780.746C176.815 964.017 967.034 -77.2714 1180.55 48.249C1394.07 173.769 1062.62 452.507 1180.55 550.33C1274.9 628.589 1460.28 401.827 1541.17 278.664" stroke="black" stroke-width="150"/%3E%3C/svg%3E');
        mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 728" fill="none"%3E%3Cpath d="M-384.828 550.33C-279.518 431.882 -29.173 211.72 129.724 278.664C328.344 362.345 -156.414 623.403 -2.48331 780.746C176.815 964.017 967.034 -77.2714 1180.55 48.249C1394.07 173.769 1062.62 452.507 1180.55 550.33C1274.9 628.589 1460.28 401.827 1541.17 278.664" stroke="black" stroke-width="150"/%3E%3C/svg%3E');
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: cover;
        mask-size: cover;
    }
</style>
