---
import HeaderLink from './HeaderLink.astro'
---

<header>
  <nav>
    <ul>
      <li><HeaderLink href="/web-course-site/">Домой</HeaderLink></li>
      <li>
        <HeaderLink href="/web-course-site/intro">Вводное занятие</HeaderLink>
      </li>
      <li><HeaderLink href="/web-course-site/plan">План</HeaderLink></li>
    </ul>
  </nav>
</header>
