---
const { href } = Astro.props;
const isActive = href === Astro.url.pathname.replace(/\/$/, '');
---

<a href={href} class:list={{ active: isActive }}>
	<slot />
</a>
<style>
	a.active {
        background-color: var(--border);
	}
</style>