---
interface Props {
    title?: string;
    href?: string;
    number?: string;
    info?: string;
}

const { title, href, number, info } = Astro.props;
---

<li>
    <a
        class="link-card w-full bg-bg-secondary rounded-[30px] h-[220px] ] p-7.5 flex flex-col justify-between userActions"
        aria-label="Перейти к работе"
        href={href ? href : null}
    >
        <div class="flex gap-5">
            {number && <p class="text-text-number">{number}</p>}
            <h3 class="font-titles font-500">{title}</h3>
            {info && <p>{info}</p>}
        </div>
        {
            href && (
                <div class="w-full flex justify-end">
                    <i
                        aria-label="Перейти к работе"
                        class="link-card-item-goto-icon"
                    />
                </div>
            )
        }
    </a>
</li>
<style>
    .link-card-item-goto-icon {
        background: url("/web-course-site/assets/img/goto.svg") no-repeat center;
        width: 50px;
        height: 50px;
        border: 1.5px solid var(--color-border);
        border-radius: 100%;
        color: var(--color-border);
    }
</style>
