---
import UsefulCard from "./UsefulCard.astro";

const { allUseful, lengths } = Astro.props;
const items = allUseful.map((item, index) => ({
    ...item,
    length: lengths[index],
}));
---

{
    items.map((post) => (
        <div class="post-wrapper">
            <UsefulCard useful={post} />
        </div>
    ))
}
