---
import ThemeToggler from "./navigation/ThemeToggler.astro";

import { getCollection } from "astro:content";

const yearOnMain = "2023";

const allWebTech = await getCollection("web-tech");

const lastWebtech = allWebTech
    .filter((material) => material.id.startsWith(yearOnMain))
    .sort((a, b) => a.data.number - b.data.number);

const clinetMaterials = await getCollection("web-client-dev");

const lastClinetMaterials = clinetMaterials
    .filter((material) => material.id.startsWith(yearOnMain))
    .sort((a, b) => a.data.number - b.data.number);

const clinetMaterialsTs = await getCollection("web-client-dev-ts");

const lastClinetMaterialsTs = clinetMaterialsTs
    .filter((material) => material.id.startsWith(yearOnMain))
    .sort((a, b) => a.data.number - b.data.number);
---

<header class="drawer-container w-full fixed z-50 p-2.5">
    <div
        class="drawer bg-bg-menu text-text-primary flex px-10 py-3.75 rounded-2xl backdrop-blur-xl box-border"
    >
        <div
            class="drawer-content-vertical flex w-full justify-between items-center mx-auto max-w-screen-xl"
        >
            <img class="w-10 h-10" src="./src/assets/img/logo.svg" alt="logo" />
            <nav class="drawer-nav flex gap-10">
                <a href="/">Главная</a>
                <a class="" href="/">Курсы</a>
                <a href="/">База знаний</a>
            </nav>
            <ThemeToggler />
        </div>
        <div class="drawer-side flex-none"></div>
    </div>
</header>
