---
import NavItem from "./navigation/NavItem.astro";
import ThemeToggler from "./navigation/ThemeToggler.astro";

// const posts = await Astro.glob("../pages/**/*.md");
// const nonDraftPosts = posts.filter((post) => !post.frontmatter.draft);
// const unique = [...new Set(nonDraftPosts.map((item) => item.frontmatter.tag))];
// const filteredLinks = unique.map((item) => ({
//   tag: item,
//   links: posts.filter((post) => post.frontmatter.tag === item),
// }));
---

<nav class="navbar max-w-3xl mx-auto text-neutral">
  <div class="lg:flex-1">
    <a
      class="normal-case text-xl"
      href="/web-course-site/"
      aria-label="На главную"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
        ></path>
      </svg>
    </a>
  </div>
  <div class="dropdown">
    <label tabindex="0" class="btn btn-primary lg:hidden">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
      </svg>
    </label>
    <ul
      tabindex="0"
      class="menu menu-compact dropdown-content mt-3 p-2 shadow btn-primary rounded-box w-102"
    >
      <!-- <ul class="menu menu-horizontal p-0">
        {filteredLinks.map((data) => <NavItem tagLinks={data} />)}
      </ul> -->
    </ul>
  </div>

  <div class="hidden lg:flex">
    <!-- <ul class="menu lg:menu-horizontal p-0">
      {filteredLinks.map((data) => <NavItem tagLinks={data} />)}
    </ul> -->
  </div>
<!--
  <a
    href="https://drive.google.com/drive/folders/1gqy63arTmR91RA67cOOXYh9U1GtcfqUA?usp=sharing"
    class="btn btn-ghost normal-case ml-auto"
    target="_blank"
    >Ведомость <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M7.5 7.5h-.75A2.25 2.25 0 004.5 9.75v7.5a2.25 2.25 0 002.25 2.25h7.5a2.25 2.25 0 002.25-2.25v-7.5a2.25 2.25 0 00-2.25-2.25h-.75m0-3l-3-3m0 0l-3 3m3-3v11.25m6-2.25h.75a2.25 2.25 0 012.25 2.25v7.5a2.25 2.25 0 01-2.25 2.25h-7.5a2.25 2.25 0 01-2.25-2.25v-.75"
      ></path>
    </svg>
  </a> -->
  <ThemeToggler />
</nav>
