---
---

<aside class="max-w-3xl w-full mx-auto py-10 px-2">
  <script>
    const percent = document.getElementById('percent');
    const progressBar = document.getElementsByTagName('progress')[0];
    const today = new Date();
    const startDate = new Date(2023, 1, 17);
    const endDate = new Date(2023, 5, 13);

    const progress = Math.min( Math.round(
      ((today - startDate) / (endDate - startDate)) * 100
    ), 100);

    percent.innerText = progress;
    progressBar.value = progress;
  </script>
  <p class="text-center text-2xl">
    Прошло <span id="percent"></span>% cеместра
  </p>
  <progress class="progress progress-primary w-full -z-10" value="" max="100"
  ></progress>
</aside>
