---
import { Image } from "astro:assets";
import LogoFullSvg from "./logo-full.svg";

const currentYear = new Date().getFullYear();
---

<footer class="footer">
    <div class="footer__container">
        <Image
            src={LogoFullSvg}
            alt=""
            width={200}
            height={50}
            loading={"eager"}
            decoding={"auto"}
            class="footer__logo"
        />
        <p class="issue">
            Если вы заметили ошибку или хотите предложить изменения, пожалуйста, <a
                class="issue__link"
                href="https://github.com/slavaver/web-course-site/issues/new"
                >создайте issue</a
            > в репозитории.
        </p>
        <div class="footer__copyright">
            <p>&copy; {currentYear} Московский Политех</p>
            <div>
                <p>
                    Дизайн сайта <a href="https://t.me/shultsee">@shultsee</a>
                </p>
                <p>
                    Разработка сайта <a href="https://t.me/qalqa_dev"
                        >@qalqa_dev</a
                    >
                </p>
            </div>
        </div>
    </div>
</footer>
<style>
    .footer {
        position: relative;
        overflow: hidden;
        padding: 3.5rem 2.5rem;
        background-color: var(--color-bg-primary);
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        z-index: 0;
        font-size: 16px;

        @media (min-width: 640px) {
            border-top-left-radius: 60px;
            border-top-right-radius: 60px;
        }
    }

    .footer__container {
        margin-inline: auto;
        max-width: 1280px;
    }

    .footer__logo {
        margin-inline: auto;
        margin-bottom: 0.5rem;
        @media (min-width: 640px) {
            margin-inline: 0;
        }
    }

    .footer::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-bg-accent-first);
        mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 728" fill="none"%3E%3Cpath d="M-384.828 550.33C-279.518 431.882 -29.173 211.72 129.724 278.664C328.344 362.345 -156.414 623.403 -2.48331 780.746C176.815 964.017 967.034 -77.2714 1180.55 48.249C1394.07 173.769 1062.62 452.507 1180.55 550.33C1274.9 628.589 1460.28 401.827 1541.17 278.664" stroke="black" stroke-width="150"/%3E%3C/svg%3E');
        mask-repeat: no-repeat;
        mask-size: cover;
    }

    .issue {
        text-align: center;
        text-wrap: balance;
        margin-bottom: 1rem;
        max-width: 65ch;
        margin-inline: auto;
    }

    .issue__link {
        border-bottom-width: 2px;
    }

    .footer__copyright {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;

        @media (min-width: 640px) {
            text-align: start;
            flex-direction: row;
        }

        /* TODO убрать когда уберется font-size на все элементы p, a, span, label из unicss */
        p {
            font-size: 16px;
        }

        a {
            font-size: 16px;
        }
    }
</style>
