---
import LabLayout from "@layouts/LabLayout.astro";
import { getCollection, render } from "astro:content";
import type { LabsSlug } from "../../types/Labs";

export async function getStaticPaths() {
    const allCoursess = await getCollection("courses");
    return allCoursess.map((entry) => ({
        params: { slug: entry.id },
        props: { entry },
    }));
}

interface Props extends LabsSlug {}
const { entry } = Astro.props;
const { Content, headings } = await render(entry);
---

<LabLayout frontmatter={entry.data} headinglist={headings} labUrl={entry.id}>
    <Content />
    {
        entry.id.includes("web-basics") && entry.data.type === "labs" && (
            <a
                href={`/web-course-site/mentors`}
                class="mentors flex border-1 py-4 border-bg-accent_second rounded-[15px] justify-center items-center text-bg-accent_second font-titles md:hover:bg-hover-secondary md:hover:text-text-primary md:hover:border-transparent"
            >
                Задать вопрос наставнику
            </a>
        )
    }
</LabLayout>
