---
import { getCollection } from "astro:content";
import type { FourDigitYear, CoursesItems } from "@/types/Courses";

import Heading from "@components/Heading.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import ArchiveYearSection from "@components/Archive/ArchiveYearSection.astro";

const allCourses = (
    await Promise.all([
        getCollection("webBasics"),
        getCollection("clientSideBasics"),
        getCollection("clientSide"),
    ])
).flat();

allCourses.forEach((item) => {
    switch (item.collection) {
        case "webBasics":
            item.id = "web-basics/" + item.id;
            break;
        case "clientSideBasics":
            item.id = "client-side-basics/" + item.id;
            break;
        case "clientSide":
            item.id = "client-side/" + item.id;
            break;
        default:
            break;
    }
});

function getCoursesByYear(courses: CoursesItems, year: FourDigitYear) {
    return courses.filter(
        (course) => course.id.includes(year) && course.id.includes("full-time")
    );
}

const years: FourDigitYear[] = ["2024", "2023", "2022"];
---

<BaseLayout>
    <Heading title={`Архив`} />
    <main class="prose lg:prose-lg mx-auto">
        {
            years.map((year) => (
                <ArchiveYearSection
                    year={year}
                    items={getCoursesByYear(allCourses, year)}
                />
            ))
        }
    </main>
</BaseLayout>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        function changeItemsVisibility(
            items: NodeListOf<HTMLElement>,
            numberVisible: number,
            show: boolean
        ) {
            items.forEach((item, index) => {
                if (index >= numberVisible) {
                    if (show) {
                        item.classList.remove("hidden");
                    } else {
                        item.classList.add("hidden");
                    }
                }
            });
        }

        const lists = document.querySelectorAll(".course ol");
        const main = document.querySelector("main");
        const initialVisible = 4;

        lists.forEach((list) => {
            const items = list.querySelectorAll("li");
            if (items.length <= initialVisible) {
                list.parentElement?.querySelector("button")?.remove();
            } else {
                changeItemsVisibility(items, initialVisible, false);
            }
        });

        main?.addEventListener("click", (e: PointerEvent) => {
            const eventTarget = e.target;
            if (eventTarget instanceof HTMLButtonElement) {
                const list = eventTarget.parentElement?.querySelectorAll("li");
                const hiddenItems =
                    eventTarget.parentElement?.querySelectorAll("li.hidden");
                if (!list || !hiddenItems) {
                    return;
                }
                if (hiddenItems && hiddenItems.length > 0) {
                    changeItemsVisibility(list, initialVisible, true);
                    eventTarget.textContent = "Спрятать";
                } else {
                    changeItemsVisibility(list, initialVisible, false);
                    eventTarget.textContent = "Показать все";
                }
            }
        });
    });
</script>
