---
import "../styles/reset.css";
import "../styles/global.css";

import Footer from "@components/footer/Footer.astro";
import Header from "@components/header/Header.astro";
const { title } = Astro.props;
const isProd = import.meta.env.PROD;
---

<!doctype html>
<html lang="ru">
    <head>
        <script is:inline src="/web-course-site/themetoggle.js"></script>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="icon"
            type="image/svg+xml"
            href="/web-course-site/favicon.svg"
        />

        <meta
            name="description"
            content="Сайт по веб-технологиям, созданный для студентов Московского Политехнического Университета."
        />
        {
            isProd && (
                <script
                    defer
                    is:inline
                    src="https://cloud.umami.is/script.js"
                    data-website-id="b6ab8e19-a315-491e-931e-41ec87b0957f"
                />
            )
        }
        <title>{title ? title : "Веб-технологии"}</title>
    </head>
    <body>
        <Header />
        <main>
            <slot />
        </main>
        <Footer />
    </body>
</html>

<style>
    :root {
        scroll-behavior: smooth;
        scroll-padding-top: 4rem;
    }

    body {
        transition-property:
            color, background-color, border-color, text-decoration-color, fill,
            stroke, opacity, box-shadow, transform, filter, backdrop-filter;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
        margin: 0;
        line-height: inherit;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        color: var(--color-text-primary);
        font-family: Gilroy, sans-serif;
        background-color: var(--color-bg-screen);
    }

    main {
        flex-grow: 1;
    }
</style>
