---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
const { title } = Astro.props;
const isProd = import.meta.env.PROD;
---

<!doctype html>
<html lang="ru" class="scroll-smooth scroll-pt-16">
    <head>
        <script is:inline src="/web-course-site/themetoggle.js"></script>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="icon"
            type="image/svg+xml"
            href="/web-course-site/favicon.svg"
        />
        {
            isProd && (
                <script
                    defer
                    src="https://cloud.umami.is/script.js"
                    data-website-id="b6ab8e19-a315-491e-931e-41ec87b0957f"
                />
            )
        }
        <title>{title ? title : "Веб-технологии"}</title>
    </head>
    <body
        class="flex flex-col min-h-screen transition bg-bg-screen text-text-primary font-texts"
    >
        <Header />
        <main class="flex-grow">
            <slot />
        </main>
        <Footer />
    </body>
</html>
