---
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";

export interface Props {
  content: {
    title: string;
  };
}

const {
  content: { title },
} = Astro.props;
---

<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Веб-технологии</title>
  </head>

  <body class="flex flex-col min-h-screen">
    <header class="bg-gray-100">
      <NavBar />
    </header>
    <main class="flex-grow">
      <div class="container mx-auto mt-16 prose lg:prose-ls px-2">
        <h1>{title}</h1>
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html><!-- class="p-2 rounded-md border-2 border-current hover:bg-gray-100" -->
