---
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import Breadcrumbs from "../components/navigation/Breadcrumbs.astro";
import Pagination from "../components/navigation/Pagination.astro";

export interface Props {
  content: {
    title: string;
  };
}

const {
  content: { title },
} = Astro.props;

const { url } = Astro.props;
---

<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/web-course-site/favicon.svg" />
    <title>Веб-технологии</title>
  </head>

  <body class="flex flex-col min-h-screen">
    <header class="bg-primary sticky top-0">
      <NavBar />
    </header>
    <main class="flex-grow">
      <div class="container mx-auto mt-16 prose lg:prose-ls px-2">
      <Breadcrumbs title={title} />
        <h1>{title}</h1>
        <slot />
        <Pagination url={url} />
      </div>
    </main>
    <Footer />
  </body>
</html>
